table#postulante {
            border: 1px solid blue;
            border-collapse: collapse;
        }
     
th,tr {
            padding: 5px;
            color:orange;
        text-align: left;
        }
        
 td {
            padding: 5px;
            color:blue;
           text-align: left;
        }
caption#postulante
        {
            padding: 10px;
            text-align: left;
            color: blue;
        }

        
